<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<cache>false</cache>
	<cache-messages>false</cache-messages>
	<cde-styles>
		<path>system/layoutEditor/resources/styles</path>
	</cde-styles>
  	<cde-datasources/>
	<cde-components>
	  <!-- paths from solution with cde component definitions to be loaded-->
	  <path>system/layoutEditor/resources/components</path>
	  <path>layoutEditor/components</path>
	</cde-components>
</settings>
